<% if (consumers.length > 0) { %>
    <table class="list">
      <thead>
        <tr>
          <th>Subscription ID</th>
          <th>Stream</th>
          <th>Messages Consumed</th>
          <th>Offset</th>
          <th>Offset Lag</th>
          <th>Credits</th>
        </tr>
      </thead>
<%
  for (var i = 0; i < consumers.length; i++) {
    var consumer = consumers[i];
%>
      <tr<%= alt_rows(i) %>>
        <td><%= consumer.subscription_id %></td>
        <td><%= link_queue(consumer.queue.vhost, consumer.queue.name) %></td>
        <td class="c"><%= consumer.consumed %></td>
        <td class="c"><%= consumer.offset %></td>
        <td class="c"><%= consumer.offset_lag %></td>
        <td class="c"><%= consumer.credits %></td>
      </tr>
<% } %>
    </table>
<% } else { %>
  <p>... no consumers ...</p>
<% } %>
