<h1>Shovel Status</h1>
<div class="updatable">
<% if (shovels.length > 0) { %>
<table class="list">
 <thead>
  <tr>
    <th>Name</th>
<% if (nodes_interesting) { %>
    <th>Node</th>
<% } %>
    <th>State</th>
    <th colspan="2">Source</th>
    <th colspan="2">Destination</th>
    <th>Message rate</th>
    <th>Last changed</th>
  </tr>
 </thead>
 <tbody>
<%
 for (var i = 0; i < shovels.length; i++) {
    var shovel = shovels[i];
%>
  <tr<%= alt_rows(i)%>>
    <td>
      <%= fmt_string(shovel.name) %>
      <sub><%= fmt_string(shovel.type) %></sub>
    </td>
<% if (nodes_interesting) { %>
    <td><%= fmt_node(shovel.node) %></td>
<% } %>
<% if (shovel.state == 'terminated') { %>
    <td colspan="3">
       <div class="status-red"><%= shovel.state %></div>
    </td>
    <td><%= shovel.timestamp %></td>
  </tr>
  <tr>
    <td colspan="6">
      <pre><%= fmt_string(shovel.reason) %></pre>
    </td>
  </tr>
<% } else { %>
    <td>
       <div class="status-green"><%= shovel.state %></div>
    </td>
    <td>
      <%= fmt_string(shovel.src_uri) %>
    </td>
    <td>
      <% if (shovel.src_queue == '') { %>
        <i>server-named</i>
      <% } else { %>
        <%= fmt_string(shovel.src_queue) %>
      <% } %>
      <sub>queue</sub>
    </td>
    <td>
      <%= fmt_string(shovel.dest_uri) %>
    </td>
    <td>
      <% if (shovel.dest_exchange == '') { %>
        <%= fmt_string(shovel.dest_exchange_key) %>
        <sub>queue</sub>
      <% } else { %>
        <% if (shovel.dest_exchange == undefined) { %>
          <i>as published</i>
        <% } else { %>
          <%= fmt_string(shovel.dest_exchange) %>
        <% } %>
         <% if (shovel.dest_exchange_key != undefined) { %>
          : <%= fmt_string(shovel.dest_exchange_key) %>
        <% } %>
        <sub>exchange</sub>
      <% } %>
    </td>
    <td class="r">
      <% if (shovel.dest_channel) { %>
        <%= fmt_rate(shovel.dest_channel.message_stats, 'confirm') %>
      <% } %>
    </td>
    <td><%= shovel.timestamp %></td>
  </tr>
<% } %>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no shovels ...</p>
<% } %>
</div>
