<div class="section">
  <h2>Bindings</h2>
  <div class="updatable">
<% if (bindings.length > 0) { %>
    <table class="list">
      <thead>
        <tr>
<% if (mode == 'queue') { %>
          <th>Exchange</th>
<% } else { %>
          <th>Queue</th>
<% } %>
          <th>Routing Key</th>
          <th>Arguments</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < bindings.length; i++) { %>
           <tr<%= alt_rows(i)%>>
<% if (mode == 'queue') { %>
             <td><%= link_exchange(bindings[i].vhost, bindings[i].exchange) %></td>
<% } else { %>
             <td><%= link_queue(bindings[i].vhost, bindings[i].queue) %></td>
<% } %>
             <td><%= bindings[i].routing_key %></td>
             <td></td>
             <td class="c">
               <form action="#/bindings" method="delete" class="confirm">
                 <input type="hidden" name="vhost" value="<%= bindings[i].vhost %>"/>
                 <input type="hidden" name="exchange" value="<%= fmt_exchange_url(bindings[i].exchange) %>"/>
                 <input type="hidden" name="queue" value="<%= bindings[i].queue %>"/>
                 <input type="hidden" name="properties_key" value="<%= bindings[i].properties_key %>"/>
                 <input type="submit" value="Unbind"/>
               </form>
             </td>
           </tr>
           <% } %>
      </tbody>
    </table>
<% } else { %>
  <p>... no bindings ...</p>
<% } %>
  </div>
</div>

<div class="section-hidden">
  <h2>Add binding</h2>
  <div>
    <form action="#/bindings" method="post">
      <input type="hidden" name="vhost" value="<%= parent.vhost %>"/>
<% if (mode == 'queue') { %>
      <input type="hidden" name="queue" value="<%= parent.name %>"/>
<% } else { %>
      <input type="hidden" name="exchange" value="<%= parent.name %>"/>
<% } %>
      <table class="form">
<% if (mode == 'queue') { %>
        <tr>
          <th><label>Exchange:</label></th>
          <td><input type="text" name="exchange" value=""/></td>
        </tr>
<% } else { %>
        <tr>
          <th><label>Queue:</label></th>
          <td><input type="text" name="queue" value=""/></td>
        </tr>
<% } %>
        <tr>
          <th><label>Routing Key:</label></th>
          <td><input type="text" name="routing_key" value=""/></td>
        </tr>
        <tr>
          <th><label>Arguments:</label></th>
          <td><input type="hidden" name="arguments" value=""/> (TODO)</td>
        </tr>
      </table>
      <input type="submit" value="Bind"/>
    </form>
  </div>
</div>
