<%= maybe_truncate(bindings) %>
<% if (bindings.length > 0) { %>
    <table class="list bindings">
      <thead>
        <tr>
<% if (mode == 'exchange_source') { %>
          <th>To</th>
<% } else { %>
          <th>From</th>
<% } %>
          <th>Routing key</th>
          <th>Arguments</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%
           for (var i = 0; i < bindings.length; i++) {
               var binding = bindings[i];
        %>
           <tr<%= alt_rows(i)%>>
<% if (mode == 'queue' || mode == 'exchange_destination') { %>
             <td>
               <%= link_exchange(binding.vhost, binding.source) %>
               <sub>Exchange</sub>
             </td>
<% } else if (binding.destination_type == 'exchange') { %>
             <td>
               <%= link_exchange(binding.vhost, binding.destination) %>
               <sub>Exchange</sub>
             </td>
<% } else { %>
             <td>
               <%= link_queue(binding.vhost, binding.destination) %>
               <sub>Queue</sub>
             </td>
<% } %>
             <td><%= binding.routing_key %></td>
             <td><%= fmt_table_short(binding.arguments) %></td>
             <td class="c">
<% if (binding.source != '') { %>
               <form action="#/bindings" method="delete" class="confirm">
                 <input type="hidden" name="vhost" value="<%= binding.vhost %>"/>
                 <input type="hidden" name="source" value="<%= fmt_exchange_url(binding.source) %>"/>
                 <input type="hidden" name="destination" value="<%= binding.destination %>"/>
                 <input type="hidden" name="destination_type" value="<%= binding.destination_type.substring(0, 1) %>"/>
                 <input type="hidden" name="properties_key" value="<%= binding.properties_key %>"/>
                 <input type="submit" value="Unbind"/>
               </form>
<% } %>
             </td>
           </tr>
           <% } %>
      </tbody>
    </table>
<% } else { %>
  <p>... no bindings ...</p>
<% } %>
