<h1>Channel: <b><%= channel.name %></b></h1>

<div class="section">
<h2>Details</h2>
<div class="hider updatable">
<table class="facts">
  <tr>
    <th>Connection</th>
<% if (nodes_interesting) { %>
    <th>Node</th>
<% } %>
    <th>Virtual host</th>
    <th>Username</th>
    <th>Transactional</th>
    <th>Prefetch count</th>
    <th>Acks uncommitted</th>
    <th>Messages unacknowledged</th>
    <th>Client blocked</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= link_conn(channel.connection_details.name) %></td>
<% if (nodes_interesting) { %>
    <td><%= channel.node %></td>
<% } %>
    <td><%= channel.vhost %></td>
    <td><%= channel.user %></td>
    <td><%= fmt_boolean(channel.transactional) %></td>
    <td><%= channel.prefetch_count %></td>
    <td><%= channel.acks_uncommitted %></td>
    <td><%= channel.messages_unacknowledged %></td>
    <td><%= fmt_boolean(channel.client_flow_blocked) %></td>
    <td><%= fmt_idle_long(channel) %></td>
  </tr>
</table>
</div>
</div>

<% if (statistics_level == 'fine') { %>
<div class="section">
<h2>Message Rates</h2>
<div class="hider updatable">
<table class="two-col-layout">
  <tr>
    <td>
      <%= format('msg-detail-publishes',
                 {'mode':   'channel',
                  'object': channel.publishes,
                  'label':  'Publishes',
                  'totals': channel.message_stats}) %>
    </td>
    <td>
      <%= format('msg-detail-deliveries',
                 {'mode':   'channel',
                  'object': channel.deliveries,
                  'totals': channel.message_stats}) %>
    </td>
  </tr>
</table>
<span class="br"></span>
</div>
</div>
<% } %>
