<h1>Channels</h1>

<% if (stats.length > 0) { %>
<table class="list">
 <thead>
  <tr>
   <th></th>
   <th colspan="6">Message rates</th>
  </tr>
  <tr>
   <th>Channel</th>
   <th>basic.publish</th>
   <th>basic.deliver</th>
   <th>basic.get</th>
   <th>basic.ack</th>
   <th>basic.deliver (noack)</th>
   <th>basic.get (noack)</th>
  </tr>
 </thead>
 <tbody>
  <% for (var i = 0; i < stats.length; i++) { %>
  <tr<%= alt_rows(i)%>>
    <td>
      <%= link_to(stats[i].channel_details.peer_address + ":" + stats[i].channel_details.peer_port, '#/connections/' + stats[i].channel_details.connection) %> (<%= stats[i].channel_details.number %>)
    </td>
    <td><%= fmt_rate(stats[i].msg_stats, 'publish') %></td>
    <td><%= fmt_rate(stats[i].msg_stats, 'deliver') %></td>
    <td><%= fmt_rate(stats[i].msg_stats, 'get') %></td>
    <td><%= fmt_rate(stats[i].msg_stats, 'ack') %></td>
    <td><%= fmt_rate(stats[i].msg_stats, 'deliver_noack') %></td>
    <td><%= fmt_rate(stats[i].msg_stats, 'get_noack') %></td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no channels ...</p>
<% } %>
