<h1>Channel: <b><%= fmt_escape_html(channel.name) %></b></h1>

<div class="section">
<h2>Details</h2>
<div class="hider updatable">
<table class="facts">
  <tr>
    <th>Connection</th>
    <td><%= link_conn(channel.connection_details.name) %></td>
  </tr>
<% if (nodes_interesting) { %>
  <tr>
    <th>Node</th>
    <td><%= channel.node %></td>
  </tr>
<% } %>
<% if (vhosts_interesting) { %>
  <tr>
    <th>Virtual host</th>
    <td><%= channel.vhost %></td>
  </tr>
<% } %>
  <tr>
    <th>Username</th>
    <td><%= channel.user %></td>
  </tr>
  <tr>
    <th>Mode <span class="help" id="channel-mode"></span></th>
    <td><%= fmt_channel_mode(channel) %></td>
  </tr>
</table>

<table class="facts">
  <tr>
    <th>Prefetch count</th>
    <td><%= channel.prefetch_count %></td>
  </tr>
  <tr>
    <th>Messages unacknowledged</th>
    <td><%= channel.messages_unacknowledged %></td>
  </tr>
  <tr>
    <th>Messages unconfirmed</th>
    <td><%= channel.messages_unconfirmed %></td>
  </tr>
  <tr>
    <th>Messages uncommitted</th>
    <td><%= channel.messages_uncommitted %></td>
  </tr>
  <tr>
    <th>Acks uncommitted</th>
    <td><%= channel.acks_uncommitted %></td>
  </tr>
</table>

<table class="facts">
  <tr>
    <th>Client blocked</th>
    <td><%= fmt_boolean(channel.client_flow_blocked) %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= fmt_idle_long(channel) %></td>
  </tr>
</table>
</div>
</div>

<div class="section">
  <h2>Consumers</h2>
  <div class="hider updatable">
<%= format('consumers', {'mode': 'channel', 'consumers': channel.consumer_details}) %>
  </div>
</div>

<% if (statistics_level == 'fine') { %>
<div class="section">
<h2>Message rates</h2>
<div class="hider updatable">
<table class="two-col-layout">
  <tr>
    <td>
      <%= format('msg-detail-publishes',
                 {'mode':   'channel',
                  'object': channel.publishes,
                  'label':  'Publishes',
                  'totals': channel.message_stats}) %>
    </td>
    <td>
      <%= format('msg-detail-deliveries',
                 {'mode':   'channel',
                  'object': channel.deliveries,
                  'totals': channel.message_stats}) %>
    </td>
  </tr>
</table>
</div>
</div>
<% } %>
