<h1>Channels</h1>

<% if (channels.length > 0) { %>
<table class="list">
 <thead>
  <tr>
   <th></th>
   <th colspan="5">Details</th>
   <th colspan="6">Message rates</th>
  </tr>
  <tr>
   <th>Channel</th>
   <th>Virtual host</th>
   <th>Username</th>
   <th>Transactional</th>
   <th>Prefetch</th>
   <th>Messages unacked</th>
   <th>publish</th>
   <th>deliver</th>
   <th>get</th>
   <th>deliver<sub>(noack)</sub></th>
   <th>get<sub>(noack)</sub></th>
   <th>ack</th>
  </tr>
 </thead>
 <tbody>
  <% for (var i = 0; i < channels.length; i++) { %>
  <tr<%= alt_rows(i)%>>
    <td>
      <%= link_channel(channels[i].name) %>
    </td>
    <td class="c"><%= link_vhost(channels[i].vhost) %></td>
    <td class="c"><%= link_user(channels[i].user) %></td>
    <td class="c">
      <%= fmt_boolean(channels[i].transactional) %>
      <% if (channels[i].transactional) { %>
      <sub><%= channels[i].acks_uncommitted %> uncommitted acks</sub>
      <% } %>
    </td>
    <td class="c"><%= channels[i].prefetch_count %></td>
    <td class="c"><%= channels[i].messages_unacknowledged %></td>
    <td class="l"><%= fmt_rate(channels[i].message_stats, 'publish') %></td>
    <td class="l"><%= fmt_rate(channels[i].message_stats, 'deliver') %></td>
    <td class="l"><%= fmt_rate(channels[i].message_stats, 'get') %></td>
    <td class="l"><%= fmt_rate(channels[i].message_stats, 'deliver_no_ack') %></td>
    <td class="l"><%= fmt_rate(channels[i].message_stats, 'get_no_ack') %></td>
    <td class="l">
      <%= fmt_rate(channels[i].message_stats, 'ack') %>
    </td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no channels ...</p>
<% } %>
