<h1>Connections</h1>
<%= maybe_truncate(connections) %>
<div class="updatable">
<% if (connections.length > 0) { %>
<table class="list">
 <thead>
  <tr>
   <th colspan="3">Network</th>
   <th colspan="4">Overview</th>
  </tr>
  <tr>
    <th><%= fmt_sort('Peer address', 'name') %></th>
    <th><%= fmt_sort('Receiving',    'recv_oct_details.rate') %></th>
    <th><%= fmt_sort('Sending',      'send_oct_details.rate') %></th>
    <th><%= fmt_sort('Channels',     'channels') %></th>
    <th><%= fmt_sort('Virtual host', 'vhost') %></th>
    <th><%= fmt_sort('User name',    'user') %></th>
    <th><%= fmt_sort('State',        'state') %></th>
  </tr>
 </thead>
 <tbody>
<%
 for (var i = 0; i < connections.length; i++) {
    var connection = connections[i];
%>
  <tr<%= alt_rows(i)%>>
    <td><%= link_conn(connection.name) %></td>
    <td><%= fmt_rate_bytes(connection, 'recv_oct') %></td>
    <td><%= fmt_rate_bytes(connection, 'send_oct') %></td>
    <td><%= connection.channels %></td>
    <td><%= link_vhost(connection.vhost) %></td>
    <td><%= link_user(connection.user) %></td>
    <td><%= connection.state %></td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no connections ...</p>
<% } %>
</div>
