<h1>Connections</h1>
<%= maybe_truncate(connections) %>
<div class="updatable">
<% if (connections.length > 0) { %>
<table class="list">
 <thead>
  <tr>
   <th colspan="<% if (nodes_interesting) { %>5<% } else { %>4<% } %>">Network</th>
   <th colspan="<% if (vhosts_interesting) { %>5<% } else { %>4<% } %>">Overview</th>
  </tr>
  <tr>
    <th><%= fmt_sort('Protocol',     'protocol') %></th>
    <th><%= fmt_sort('Peer address', 'name') %></th>
<% if (nodes_interesting) { %>
    <th><%= fmt_sort('Node',         'node') %></th>
<% } %>
    <th><%= fmt_sort('From client',  'recv_oct_details.rate') %></th>
    <th><%= fmt_sort('To client',    'send_oct_details.rate') %></th>
    <th><%= fmt_sort('Channels',     'channels') %></th>
<% if (vhosts_interesting) { %>
    <th><%= fmt_sort('Virtual host', 'vhost') %></th>
<% } %>
    <th><%= fmt_sort('User name',    'user') %></th>
    <th><%= fmt_sort('Flow ctl',     'time_since_flow_ctl') %> <span class="help" id="last-flow-controlled"></th>
    <th><%= fmt_sort('Blocked',      'mem_blocked') %> <span class="help" id="mem-blocked"></th>
  </tr>
 </thead>
 <tbody>
<%
 for (var i = 0; i < connections.length; i++) {
    var connection = connections[i];
%>
  <tr<%= alt_rows(i)%>>
    <td>
      <%= connection.protocol %>
      <% if (connection.ssl) { %>
        <sub>SSL</sub>
      <% } %>
    </td>
    <td><%= link_conn(connection.name) %></td>
<% if (nodes_interesting) { %>
    <td><%= connection.node %></td>
<% } %>
    <td><%= fmt_rate_bytes(connection, 'recv_oct') %></td>
    <td><%= fmt_rate_bytes(connection, 'send_oct') %></td>
    <td><%= connection.channels %></td>
<% if (vhosts_interesting) { %>
    <td><%= fmt_string(connection.vhost) %></td>
<% } %>
    <td><%= fmt_string(connection.user) %></td>
    <td class="status"><%= fmt_time_since_flow_ctl(connection.time_since_flow_ctl) %></td>
    <td class="status c"><%= fmt_mem_blocked(connection.mem_blocked) %></td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no connections ...</p>
<% } %>
</div>
