<h1>Connection <b><%= connection.name %></b></h1>

<div class="section">
<h2>Overview</h2>
<div class="updatable">

<table class="facts">
<% if (connection.recv_oct_details) { %>
 <tr>
   <th>From client</th>
   <td>
     <span class="mini-highlight"><%= fmt_bytes(connection.recv_oct_details.rate) %>/s</span>
   </td>
 </tr>
<% } %>
<% if (connection.send_oct_details) { %>
 <tr>
   <th>To client</th>
   <td>
     <span class="mini-highlight"><%= fmt_bytes(connection.send_oct_details.rate) %>/s</span>
   </td>
 </tr>
<% } %>
 <tr><th>Channels</th><td><%= connection.channels %></td></tr>
 <tr><th>Virtual host</th><td><%= link_vhost(connection.vhost) %></td></tr>
 <tr><th>Username</th><td><%= link_user(connection.user) %></td></tr>
 <tr><th>Protocol</th><td><%= connection.protocol %></td></tr>
 <tr><th>State</th><td><%= connection.state %></td></tr>
 <tr><th>Timeout</th><td><%= connection.timeout %></td></tr>
</table>
</div>
</div>

<div class="section">
  <h2>Channels</h2>
  <div class="updatable">
    <%= format('channels-list', {'channels': channels, 'mode': 'connection'}) %>
  </div>
</div>

<div class="section-hidden">
<h2>Client Library</h2>
<div class="hider">
<%= format('table', {'table': connection.client_properties}) %>
</div>
</div>

<div class="section-hidden">
  <h2>Close This Connection</h2>
  <div class="hider">
    <form action="#/connections" method="delete" class="confirm">
      <input type="hidden" name="name" value="<%= connection.name %>"/>
      <input type="submit" value="Force Close"/>
    </form>
  </div>
</div>
