<h1>Connection <b><%= connection.name %></b></h1>

<div class="section">
<h2>Overview</h2>
<div class="hider updatable">

<table class="facts">
<tr>
<% if (connection.recv_oct_details) { %>
   <th>From client</th>
<% } %>
<% if (connection.send_oct_details) { %>
   <th>To client</th>
<% } %>
<% if (nodes_interesting) { %>
 <th>Node</th>
<% } %>
 <th>Channels</th>
 <th>Virtual host</th>
 <th>Username</th>
 <th>Protocol</th>
 <th>State</th>
 <th>Timeout</th>
</tr>
<tr>
<% if (connection.recv_oct_details) { %>
   <td>
     <span class="mini-highlight"><%= fmt_bytes(connection.recv_oct_details.rate) %>/s</span>
   </td>
<% } %>
<% if (connection.send_oct_details) { %>
   <td>
     <span class="mini-highlight"><%= fmt_bytes(connection.send_oct_details.rate) %>/s</span>
   </td>
<% } %>
<% if (nodes_interesting) { %>
 <td><%= connection.node %></td>
<% } %>
 <td><%= connection.channels %></td>
 <td><%= link_vhost(connection.vhost) %></td>
 <td><%= link_user(connection.user) %></td>
 <td><%= connection.protocol %></td>
 <td><%= connection.state %></td>
 <td><%= connection.timeout %></td>
</tr>
</table>
</div>
</div>

<div class="section">
  <h2>Channels</h2>
  <div class="hider updatable">
    <%= format('channels-list', {'channels': channels, 'mode': 'connection'}) %>
  </div>
</div>

<div class="section-hidden">
<h2>Client Library</h2>
<div class="hider">
<%= format('table', {'table': connection.client_properties}) %>
</div>
</div>

<div class="section-hidden">
  <h2>Close This Connection</h2>
  <div class="hider">
    <form action="#/connections" method="delete" class="confirm">
      <input type="hidden" name="name" value="<%= connection.name %>"/>
      <input type="submit" value="Force Close"/>
    </form>
  </div>
</div>
