<h1>Connections</h1>

<% if (connections.length > 0) { %>
<table class="list">
 <thead>
  <tr class="titre">
   <th colspan="4">Overview</th>
   <th colspan="4">Network</th>
  </tr>
  <tr class="titre">
   <th>Vhost</th><th>Username</th>
   <th>State</th><th>Timeout</th>
   <th>Peer address</th><th>Receiving</th><th>Sending</th><th>Pending</th>
  </tr>
 </thead>
 <tbody>
  <% for (var i = 0; i < connections.length; i++) { %>
  <tr<%= alt_rows(i)%>>
    <td><%= connections[i].vhost %></td>
    <td><%= connections[i].user %></td>
    <td><%= connections[i].state %></td>
    <td><%= connections[i].timeout %></td>
    <td><%= connections[i].peer_address %>:<%= connections[i].peer_port %></td>
    <td><%= fmt_bytes(connections[i].recv_oct_rate) %>/s<sub>(<%= fmt_bytes(connections[i].recv_oct) %> total)</sub></td>
    <td><%= fmt_bytes(connections[i].send_oct_rate) %>/s<sub>(<%= fmt_bytes(connections[i].send_oct) %> total)</sub></td>
    <td><%= connections[i].send_pend %></td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no connections ...</p>
<% } %>
