<h1>Connections</h1>

<% if (connections.length > 0) { %>
<table class="list">
 <thead>
  <tr>
   <th colspan="3">Network</th>
   <th colspan="4">Overview</th>
  </tr>
  <tr>
   <th>Peer address</th><th>Receiving</th><th>Sending</th>
   <th>Channels</th><th>Virtual host</th><th>Username</th><th>State</th>
  </tr>
 </thead>
 <tbody>
  <% for (var i = 0; i < connections.length; i++) { %>
  <tr<%= alt_rows(i)%>>
    <td><%= link_conn(connections[i].name) %></td>
    <td><%= fmt_rate_bytes(connections[i], 'recv_oct') %></td>
    <td><%= fmt_rate_bytes(connections[i], 'send_oct') %></td>
    <td><%= connections[i].channels %></td>
    <td><%= link_vhost(connections[i].vhost) %></td>
    <td><%= link_user(connections[i].user) %></td>
    <td><%= connections[i].state %></td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no connections ...</p>
<% } %>
