<h1>Exchange: <b><%= fmt_exchange(exchange.name) %></b></h1>

<div class="section">
  <h2>Overview</h2>
  <div>
    <table class="facts">
      <tr><th>Virtual host</th><td><%= exchange.vhost %></td></tr>
      <tr><th>Type</th><td><%= exchange.type %></td></tr>
      <tr><th>Durable</th><td><%= fmt_boolean(exchange.durable) %></td></tr>
      <tr><th>Auto delete</th><td><%= fmt_boolean(exchange.auto_delete) %></td></tr>
      <tr>
        <th>Arguments</th>
        <td>
          <%= format('table', {'table': exchange.arguments}) %>
        </td>
      </tr>
    </table>
  </div>
</div>

<%= format('bindings', {'mode': 'exchange', 'bindings': bindings, 'parent': exchange}) %>

<div class="section-hidden">
  <h2>Delete This Exchange</h2>
  <div>
    <form action="#/exchanges" method="delete" class="confirm">
      <input type="hidden" name="vhost" value="<%= exchange.vhost %>"/>
      <input type="hidden" name="name" value="<%= fmt_exchange_url(exchange.name) %>"/>
      <input type="submit" value="Delete"/>
    </form>
  </div>
</div>
