<h1>Exchanges</h1>
<div class="section">
  <h2>All exchanges</h2>
  <div class="hider">
<%= filter_ui(exchanges) %>
  <div class="updatable">
<% if (exchanges.length > 0) { %>
<table class="list">
 <thead>
  <tr>
<% if (vhosts_interesting) { %>
   <th><%= fmt_sort('Virtual host', 'vhost') %></th>
<% } %>
   <th><%= fmt_sort('Name',         'name') %></th>
   <th><%= fmt_sort('Type',         'type') %></th>
   <th><%= fmt_sort('Policy',       'policy') %></th>
   <th>Parameters</th>
<% if (statistics_level == 'fine') { %>
   <th><%= fmt_sort('Message rate in',   'message_stats.publish_in_details.rate') %></th>
   <th><%= fmt_sort('Message rate out',  'message_stats.publish_out_details.rate') %></th>
<% } %>
  </tr>
 </thead>
 <tbody>
<%
  for (var i = 0; i < exchanges.length; i++) {
    var exchange = exchanges[i];
%>
  <tr<%= alt_rows(i)%>>
<% if (vhosts_interesting) { %>
   <td><%= fmt_string(exchange.vhost) %></td>
<% } %>
   <td><%= link_exchange(exchange.vhost, exchange.name) %></td>
   <td class="c"><%= fmt_exchange_type(exchange.type) %></td>
   <td class="c"><%= fmt_string(exchange.policy, '') %></td>
   <td class="c"><%= fmt_parameters_short(exchange) %></td>
   <td class="r"><%= fmt_rate(exchange.message_stats, 'publish_in') %></td>
   <td class="r"><%= fmt_rate(exchange.message_stats, 'publish_out') %></td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no exchanges ...</p>
<% } %>
  </div>
  </div>
</div>

<div class="section-hidden">
  <h2>Add a new exchange</h2>
  <div class="hider">
    <form action="#/exchanges" method="put">
      <table class="form">
<% if (vhosts_interesting) { %>
        <tr>
          <th><label>Virtual host:</label></th>
          <td>
            <select name="vhost">
              <% for (var i = 0; i < vhosts.length; i++) { %>
              <option value="<%= fmt_string(vhosts[i].name) %>"><%= fmt_string(vhosts[i].name) %></option>
              <% } %>
            </select>
          </td>
        </tr>
<% } else { %>
        <tr><td><input type="hidden" name="vhost" value="<%= fmt_string(vhosts[0].name) %>"/></td></tr>
<% } %>
        <tr>
          <th><label>Name:</label></th>
          <td><input type="text" name="name"/><span class="mand">*</span></td>
        </tr>
        <tr>
          <th><label>Type:</label></th>
          <td>
            <select name="type">
              <% for (var i = 0; i < exchange_types.length; i++) { %>
              <option value="<%= fmt_string(exchange_types[i].name) %>"><%= fmt_string(exchange_types[i].name) %></option>
              <% } %>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Durability:</label></th>
          <td>
            <select name="durable">
              <option value="true">Durable</option>
              <option value="false">Transient</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Auto delete: <span class="help" id="exchange-auto-delete"></span></label></th>
          <td>
            <select name="auto_delete">
              <option value="false">No</option>
              <option value="true">Yes</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Internal: <span class="help" id="exchange-internal"></span></label></th>
          <td>
            <select name="internal">
              <option value="false">No</option>
              <option value="true">Yes</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Alternate exchange: <span class="help" id="exchange-alternate"></span></label></th>
          <td><input type="text" name="alternate-exchange"/></td>
        </tr>
        <tr>
          <th><label>Arguments:</label></th>
          <td>
            <span class="multifield" id="arguments"></span>
          </td>
        </tr>
      </table>
      <input type="submit" value="Add exchange"/>
    </form>
  </div>
</div>
