<%
   for (var i = 0; i < msgs.length; i++) {
   var msg = msgs[i];
%>
<div>
<h3>Message <%= i+1 %></h3>
<p>
<% if (msg.payload_encoding == 'string') { %>
The message contents appear to be <b>valid UTF-8</b>, therefore it is shown as text.
<% } else { %>
The message contents do not appear to be valid UTF-8, therefore it is shown as <b>base64</b>.
<% } %>
The server reported <b><%= msg.message_count %></b> messages remaining.
</p>
<table class="facts">
  <tr>
    <th>Exchange</th>
    <td><%= fmt_exchange(msg.exchange) %></td>
  </tr>
  <tr>
    <th>Routing Key</th>
    <td><%= msg.routing_key %></td>
  </tr>
  <tr>
    <th>Redelivered</th>
    <td><%= fmt_boolean(msg.redelivered) %></td>
  </tr>
  <tr>
    <th>Properties</th>
    <td><%= fmt_table_short(msg.properties) %></td>
  </tr>
  <tr>
    <th>
      Payload
      <sub><%= msg.payload_bytes %> bytes</sub>
    </th>
    <td>
      <pre id="msg-payload"><%= fmt_escape_html(msg.payload) %></pre>
    </td>
  </tr>
</table>
<span class="br"></span>
</div>
<%
  }
%>
