<h3><%= label %></h3>
<%
     var col_return_unroutable = !is_stat_empty(totals, 'return_unroutable');
     var col_return_not_delivered = !is_stat_empty(totals, 'return_not_delivered');
%>
<% if (object && object.length > 0) { %>
<table class="list list-with-total">
  <tr>
<% if (mode == 'channel') { %>
    <th>Exchange</th>
<% } else if (mode == 'exchange-incoming') { %>
    <th>Channel</th>
<% } else if (mode == 'exchange-outgoing') { %>
    <th>Queue</th>
<% } else { %>
    <th>Exchange</th>
<% } %>
    <th>publish</th>
    <th>confirm</th>
<% if (col_return_unroutable) { %>
    <th>return (mandatory)</th>
<% } %>
<% if (col_return_not_delivered) { %>
    <th>return (immediate)</th>
<% } %>
  </tr>
<%
     for (var i = 0; i < object.length; i++) {
       var pub = object[i];
%>
    <tr<%= alt_rows(i)%>>

<% if (mode == 'channel') { %>
      <td><%= link_exchange(pub.exchange.vhost, pub.exchange.name) %></td>
<% } else if (mode == 'exchange-incoming') { %>
      <td><%= link_channel(pub.channel_details.name) %></td>
<% } else if (mode == 'exchange-outgoing') { %>
      <td><%= link_queue(pub.queue_details.vhost, pub.queue_details.name) %></td>
<% } else { %>
      <td><%= link_exchange(pub.exchange.vhost, pub.exchange.name) %></td>
<% } %>
      <td class="r"><%= fmt_rate(pub.stats, 'publish') %></td>
      <td class="r"><%= fmt_rate(pub.stats, 'confirm') %></td>
<% if (col_return_unroutable) { %>
      <td class="r"><%= fmt_rate(pub.stats, 'return_unroutable') %></td>
<% } %>
<% if (col_return_not_delivered) { %>
      <td class="r"><%= fmt_rate(pub.stats, 'return_not_delivered') %></td>
<% } %>
    </tr>
<% } %>
  <tr class="total">
    <th>Total:</th>
    <td class="r"><%= fmt_rate(totals, 'publish', false, 'mini-highlight') %></td>
    <td class="r"><%= fmt_rate(totals, 'confirm', false, 'mini-highlight') %></td>
<% if (col_return_unroutable) { %>
    <td class="r"><%= fmt_rate(totals, 'return_unroutable', false, 'mini-highlight') %></td>
<% } %>
<% if (col_return_not_delivered) { %>
    <td class="r"><%= fmt_rate(totals, 'return_not_delivered', false, 'mini-highlight') %></td>
<% } %>
  </tr>
</table>
<% } else { %>
<p> ... no publishes ...</p>
<% } %>
