<h1>Node <b><%= node.name %></b></h1>

<div class="section">
<h2>Overview</h2>
<div class="hider updatable">
  <h3>Basic</h3>

  <table class="facts">
    <tr>
      <th>
        File Descriptors
        <sub>(used / available)</sub>
      </th>
      <th>
        Erlang Processes
        <sub>(used / available)</sub>
      </th>
      <th>
        Memory
        <sub>(used / high watermark)</sub>
      </th>
      <th>Uptime</th>
      <th>
        Version
        <sub>(RabbitMQ / Erlang)</sub>
      </th>
      <th>Mnesia Storage</th>
    </tr>
    <tr>
    <%= format('node-row', {'node': node})  %>
    </tr>
  </table>

  <h3>More</h3>

  <table class="facts">
    <tr>
      <th>OS Pid</th>
      <th>Statistics</th>
      <th>Run Queue</th>
      <th>Processors</th>
    </tr>
    <tr>
     <td class="c"><%= node.os_pid %></td>
     <td class="c">
       <%= node.statistics_level %>
     </td>
     <td class="r">
       <%= node.run_queue %>
     </td>
     <td class="r">
       <%= node.processors %>
     </td>
    </tr>
  </table>
</div>
</div>


<div class="section">
<h2>Applications</h2>
<div class="hider updatable">
<% if (node.running) { %>
<table class="list">
    <tr>
      <th>Name</th>
      <th>Version</th>
    </tr>
    <%
      for (var j = 0; j < node.applications.length; j++) {
        var application = node.applications[j];
    %>
       <tr<%= alt_rows(j)%>>
         <td>
           <abbr title="<%= application.description %>">
             <%= application.name %></abbr>
         </td>
         <td><%= application.version %></td>
       </tr>
    <% } %>
</table>
<% } else {%>
<p>...node not running...</p>
<% } %>
</div>
</div>

<div class="section-hidden">
<h2>Registry</h2>
<div class="hider updatable">
<h3>Exchange Types</h3>
<%= format('registry', {'list': node.exchange_types, 'node': node} ) %>
<h3>Authentication Mechanisms</h3>
<%= format('registry', {'list': node.auth_mechanisms, 'node': node} ) %>
</div>
</div>
