<h1>Node <b><%= node.name %></b></h1>

<div class="section">
<h2>Overview</h2>
<div class="hider updatable">
<% if (!node.running) { %>
<p class="warning">Node not running</p>
<% } else if (node.os_pid == undefined) { %>
<p class="warning">Node statistics not available</p>
<% } else { %>
  <table class="facts">
    <tr>
      <th>
        File descriptors <span class="help" id="file-descriptors"></span>
      </th>
      <td>
<%= fmt_resource_bar(node.fd_used,
                     node.fd_total + ' available',
                     node.fd_used / node.fd_total,
                     fmt_color(node.fd_used / node.fd_total, FD_THRESHOLDS)) %>
      </td>
    </tr>
    <tr>
      <th>
        Socket descriptors <span class="help" id="socket-descriptors"></span>
      </th>
      <td>
<%= fmt_resource_bar(node.sockets_used,
                     node.sockets_total + ' available',
                     node.sockets_used / node.sockets_total,
                     fmt_color(node.sockets_used / node.sockets_total,
                               FD_THRESHOLDS)) %>
      </td>
    </tr>
    <tr>
      <th>
        Erlang processes
      </th>
     <td>
<%= fmt_resource_bar(node.proc_used,
                     node.proc_total + ' available',
                     node.proc_used / node.proc_total,
                     fmt_color(node.proc_used / node.proc_total,
                               PROCESS_THRESHOLDS)) %>
     </td>
    </tr>
  </table>
  <table class="facts">
    <tr>
      <th>
        Memory
      </th>
      <td>
<% if (node.mem_limit != 'memory_monitoring_disabled') { %>
   <%= fmt_resource_bar(fmt_bytes(node.mem_used),
                        fmt_bytes(node.mem_limit) + ' high watermark',
                        node.mem_used / node.mem_limit,
                        node.mem_alarm ? 'red' : 'green',
                        node.mem_alarm ? 'memory-alarm' : null) %>
<% } else { %>
   <%= fmt_bytes(node.mem_used) %>
<% } %>
      </td>
    </tr>
    <tr>
      <th>
        Disk space
      </th>
      <td>
<% if (node.disk_free_limit != 'disk_free_monitoring_disabled') { %>
   <%= fmt_resource_bar(fmt_bytes(node.disk_free),
                        fmt_bytes(node.disk_free_limit) + ' low watermark',
                        node.disk_free_limit / node.disk_free,
                        node.disk_free_alarm ? 'red' : 'green',
                        node.disk_free_alarm ? 'disk_free-alarm' : null) %>
<% } else { %>
         (not available)
<% } %>
      </td>
    </tr>
  </table>

  <table class="facts">
    <tr>
      <th>Uptime</th>
      <td><%= fmt_uptime(node.uptime) %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td>
       <% if (node.type == 'disc') { %>
         <acronym title="Broker definitions are held on disc.">Disc</acronym>
       <% } else { %>
         <acronym title="Broker definitions are held in RAM. Messages will still be written to disc if necessary.">RAM</acronym>
       <% } %>
      </td>
    </tr>
  </table>
<% } %>
</div>
</div>

<div class="section">
<h2>Memory details</h2>
<div class="hider updatable">
<% if (!node.running) { %>
<p class="warning">Node not running</p>
<% } else if (node.os_pid == undefined) { %>
<p class="warning">Node statistics not available</p>
<% } else {
  var width = 800;
%>
  <div class="memory-bar">
<%
   var sections = {'connection_procs': 'Connections',
                   'queue_procs': 'Queues',
                   'plugins': 'Plugins',
                   'other_proc': 'Other process memory',
                   'mnesia': 'Mnesia',
                   'msg_index': 'Message store index',
                   'mgmt_db': 'Management database',
                   'other_ets': 'Other ETS tables',
                   'binary': 'Binaries',
                   'code': 'Code',
                   'atom': 'Atoms',
                   'other_system': 'Other system'};
   var total = 0;
   for (var section in sections) {
     var section_width = Math.round(width * node.memory[section] / node.mem_used);
     total += section_width;
%>
    <div class="memory-section memory_<%= section %>"
         style="width: <%= section_width %>px;"
         title="<%= sections[section] %> <%= fmt_bytes(node.memory[section]) %>">
    </div>
<% } %>
  </div>
  <span class="clear"></span>
  <div class="memory-total" style="width: <%= width %>px;">
    <%= fmt_bytes(node.mem_used) %> used
  </div>

  <div class="box">
  <table class="facts">
    <tr>
      <th>Connections</th>
      <td><%= fmt_memory(node.memory, 'connection_procs') %></td>
    </tr>
    <tr>
      <th>Queues</th>
      <td><%= fmt_memory(node.memory, 'queue_procs') %></td>
    </tr>
    <tr>
      <th>Plugins</th>
      <td><%= fmt_memory(node.memory, 'plugins') %></td>
    </tr>
    <tr>
      <th>Other process memory</th>
      <td><%= fmt_memory(node.memory, 'other_proc') %></td>
    </tr>
  </table>
  <table class="facts">
    <tr>
      <th>Mnesia</th>
      <td><%= fmt_memory(node.memory, 'mnesia') %></td>
    </tr>
    <tr>
      <th>Message store index</th>
      <td><%= fmt_memory(node.memory, 'msg_index') %></td>
    </tr>
    <tr>
      <th>Management database</th>
      <td><%= fmt_memory(node.memory, 'mgmt_db') %></td>
    </tr>
    <tr>
      <th>Other ETS tables</th>
      <td><%= fmt_memory(node.memory, 'other_ets') %></td>
    </tr>
  </table>
  <table class="facts">
    <tr>
      <th>Binaries</th>
      <td><%= fmt_memory(node.memory, 'binary') %></td>
    </tr>
    <tr>
      <th>Code</th>
      <td><%= fmt_memory(node.memory, 'code') %></td>
    </tr>
    <tr>
      <th>Atoms</th>
      <td><%= fmt_memory(node.memory, 'atom') %></td>
    </tr>
    <tr>
      <th>Other system</th>
      <td><%= fmt_memory(node.memory, 'other_system') %></td>
    </tr>
  </table>
  </div>

  <p>
    All measurements are approximate. Memory details are
    <%= fmt_millis(node.memory_age) %> behind. <a target="_blank"
    href="http://www.rabbitmq.com/memory-use.html">Read more</a> on
    memory use.
  </p>
<% } %>
</div>
</div>

<div class="section-hidden">
<h2>Applications</h2>
<div class="hider updatable">
<% if (!node.running) { %>
<p class="warning">Node not running</p>
<% } else if (node.os_pid == undefined) { %>
<p class="warning">Node statistics not available</p>
<% } else { %>
<table class="list">
    <tr>
      <th>Name</th>
      <th>Version</th>
    </tr>
    <%
      for (var j = 0; j < node.applications.length; j++) {
        var application = node.applications[j];
    %>
       <tr<%= alt_rows(j)%>>
         <td>
           <%= application.name %>
           <sub><%= application.description %></sub>
         </td>
         <td><%= application.version %></td>
       </tr>
    <% } %>
</table>
<% } %>
</div>
</div>

<div class="section-hidden">
<h2>Registry</h2>
<div class="hider updatable">
<% if (!node.running) { %>
<p class="warning">Node not running</p>
<% } else if (node.os_pid == undefined) { %>
<p class="warning">Node statistics not available</p>
<% } else { %>
<h3>Exchange types</h3>
<%= format('registry', {'list': node.exchange_types, 'node': node, 'show_enabled': false} ) %>
<h3>Authentication mechanisms</h3>
<%= format('registry', {'list': node.auth_mechanisms, 'node': node, 'show_enabled': true} ) %>
<% } %>
</div>
</div>

<div class="section-hidden">
<h2>Advanced</h2>
<div class="hider updatable">
<% if (!node.running) { %>
<p class="warning">Node not running</p>
<% } else if (node.os_pid == undefined) { %>
<p class="warning">Node statistics not available</p>
<% } else { %>
  <div class="box">
  <h3>VM</h3>
  <table class="facts">
    <tr>
      <th>OS pid</th>
      <td><%= node.os_pid %></td>
    </tr>
    <tr>
      <th>Statistics</th>
      <td><%= node.statistics_level %></td>
    </tr>
  </table>

  <table class="facts">
    <tr>
      <th>Run queue</th>
      <td><%= node.run_queue %></td>
    </tr>
    <tr>
      <th>Processors</th>
      <td><%= node.processors %></td>
    </tr>
  </table>
<% } %>
</div>
</div>
