     <td>
       <%= link_node(node.name) %>
     </td>
     <td class="c">
       <%= node.type %>
     </td>
<% if (!node.running) { %>
     <td class="status" colspan="5">
       <div class="red">
         Node not running
       </div>
     </td>
<% } else if (node.external_stats_not_running) { %>
     <td class="status" colspan="5">
       <div class="red">
         Management agent not installed
       </div>
     </td>
<% } else { %>
     <td class="c"><%= node.os_pid %></td>
     <td class="status">
       <div class="<%= fmt_color(node.fd_used / node.fd_total) %>">
         <%= node.fd_used %> / <%= node.fd_total %>
       </div>
     </td>
     <td class="status">
       <div class="<%= fmt_color(node.proc_used / node.proc_total) %>">
         <%= node.proc_used %> / <%= node.proc_total %>
       </div>
     </td>
     <td class="status">
<% if (node.mem_total != 'memory_monitoring_disabled') { %>
       <div class="<%= fmt_color(node.mem_used / node.mem_limit,
                                 MEMORY_THRESHOLDS) %>">
         <%= fmt_bytes(node.mem_used) %> / <%= fmt_bytes(node.mem_limit) %>
       </div>
<% } else { %>
       <%= fmt_bytes(node.mem_used) %>
<% } %>
     </td>
     <td class="c status">
       <%= node.statistics_level %>
     </td>
<% } %>
