<h1>Overview</h1>
<div class="updatable">
<%
var rabbit_version = 'unknown';
var erlang_version = 'unknown';
var version_warning = null;

for (var i = 0; i < nodes.length; i++) {
    var node = nodes[i];
    var r = fmt_rabbit_version(node.applications);
    var e = node.erlang_version;
    if (rabbit_version == 'unknown') {
        rabbit_version = r;
        erlang_version = e;
    } else {
        if (r != 'unknown' && rabbit_version != r) {
            version_warning = "Node " + node.name + " runs RabbitMQ version " +
                              r +  "<br/>Node " + nodes[0].name +
                              "  runs RabbitMQ version " + rabbit_version;
            break;
        }
        if (e != 'unknown' && erlang_version != e) {
            version_warning = "Node " + node.name + " runs Erlang version " +
                              e +  "<br/>Node " + nodes[0].name +
                              "  runs Erlang version " + erlang_version;
            break;
        }
    }
}
if (version_warning != null) {
%>
  <p class="warning">
    Warning: version mismatch<br/><br/>
    <%= version_warning %><br/>This cluster may behave unpredictably.<br/><br/>
    You are very strongly recommended to ensure that all nodes in this cluster
    run the same versions of Erlang and RabbitMQ.
  </p>
<% } %>
</div>
<div class="section">
<h2>Totals</h2>
<div class="hider updatable">
<% if (overview.statistics_db_node != 'not_running') { %>
  <h3>Queued messages <span class="help" id="queued-messages"></span></h3>
  <div class="box">
    <%= queue_length(overview.queue_totals, 'Ready', 'messages_ready') %>
    <%= queue_length(overview.queue_totals, 'Unacknowledged', 'messages_unacknowledged') %>
    <%= queue_length(overview.queue_totals, 'Total', 'messages') %>
  </div>
<% if (statistics_level == 'fine') { %>
  <h3>Message rates <span class="help" id="message-rates"></span></h3>
  <div class="box">
    <%= message_rates(overview.message_stats) %>
  </div>
<% } %>
<% } else { %>
    Totals not available
<% } %>
</div>
</div>

<% if (user_monitor) { %>
<div class="section">
<h2>Nodes</h2>
<div class="hider updatable">
<% if (version_warning == null) { %>
  <p>
    <b>RabbitMQ version:</b>
    <%= rabbit_version %><br/>
    <b>Erlang version:</b>
    <%= erlang_version %>
  </p>
<% } %>
<table class="list">
  <tr>
    <th>Name</th>
    <th>
      File descriptors <span class="help" id="file-descriptors"></span>
      <sub>(used / available)</sub>
    </th>
    <th>
      Socket descriptors <span class="help" id="socket-descriptors"></span>
      <sub>(used / available)</sub>
    </th>
    <th>
      Erlang processes
      <sub>(used / available)</sub>
    </th>
    <th>
      Memory
    </th>
    <th>
      Disk space
    </th>
    <th>Uptime</th>
    <th>Type</th>
  </tr>
<%
   for (var i = 0; i < nodes.length; i++) {
     var node = nodes[i];
%>
   <tr<%= alt_rows(i)%>>
     <td>
       <%= link_node(node.name) %>
     </td>
<% if (!node.running) { %>
     <td class="status" colspan="6">
       <div class="red">
         Node not running
       </div>
     </td>
<% } else if (node.external_stats_not_running) { %>
     <td class="status" colspan="6">
       <div class="red">
         Could not contact management agent
       </div>
     </td>
<% } else { %>
     <td class="status">
       <div class="<%= fmt_color(node.fd_used / node.fd_total,
                                 FD_THRESHOLDS) %>">
         <%= fmt_fd_used(node.fd_used) %> / <%= node.fd_total %>
       </div>
     </td>
     <td class="status">
       <div class="<%= fmt_color(node.sockets_used / node.sockets_total,
                                 SOCKETS_THRESHOLDS) %>">
         <%= node.sockets_used %> / <%= node.sockets_total %>
       </div>
     </td>
     <td class="status">
       <div class="<%= fmt_color(node.proc_used / node.proc_total,
                                 PROCESS_THRESHOLDS) %>">
         <%= node.proc_used %> / <%= node.proc_total %>
       </div>
     </td>
     <td class="status">
<% if (node.mem_limit != 'memory_monitoring_disabled') { %>
   <% if (node.mem_alarm) { %>
       <div class="red">
         <%= fmt_bytes(node.mem_used) %>
         <span class="help" id="memory-alarm"></span>
       </div>
   <% } else { %>
       <div class="green">
         <%= fmt_bytes(node.mem_used) %>
       </div>
   <% } %>
   <sub><%= fmt_bytes(node.mem_limit) %> high watermark</sub>
<% } else { %>
       <%= fmt_bytes(node.mem_used) %>
<% } %>
     </td>
     <td class="status">
<% if (node.disk_free_limit != 'disk_free_monitoring_disabled') { %>
   <% if (node.disk_free_alarm) { %>
       <div class="red">
         <%= fmt_bytes(node.disk_free) %>
         <span class="help" id="disk-free-alarm"></span>
       </div>
   <% } else { %>
       <div class="green">
         <%= fmt_bytes(node.disk_free) %>
       </div>
   <% } %>
   <sub><%= fmt_bytes(node.disk_free_limit) %> low watermark </sub>
<% } else { %>
         (not monitored)
<% } %>
     </td>
     <td class="r">
       <%= fmt_uptime(node.uptime) %>
     </td>
<% } %>
     <td class="c">
       <% if (node.type == 'disc') { %>
         <acronym title="Broker definitions are held on disc.">Disc</acronym>
       <% } else { %>
         <acronym title="Broker definitions are held in RAM. Messages will still be written to disc if necessary.">RAM</acronym>
       <% } %>
       <% if (overview.statistics_db_node == node.name) { %>
         <acronym title="This node contains the management statistics database">Stats</acronym>
       <% } %>
       <% if (overview.node == node.name) { %>
         <acronym title="You are accessing the management UI from this node.">*</acronym>
       <% } %>
     </td>
   </tr>
<% } %>
</table>

<% if (overview.statistics_db_node == 'not_running') { %>
  <p class="status-error">Statistics database could not be contacted. Message rates and queue lengths will not be shown.</p>
<% } %>
</div>
</div>

<div class="section">
<h2>Ports and contexts</h2>
<div class="hider updatable">
<h3>Listening ports</h3>
<table class="list">
  <tr>
    <th>Protocol</th>
<% if (nodes_interesting) { %>
    <th>Host <small>(node)</small></th>
<% } %>
    <th>Bound to</th>
    <th>Port</th>
  </tr>
  <%
      for (var i = 0; i < overview.listeners.length; i++) {
          var listener = overview.listeners[i];
  %>
  <tr<%= alt_rows(i)%>>
    <td><%= listener.protocol %></td>
<% if (nodes_interesting) { %>
    <td><%= fmt_node_host(listener.node) %></td>
<% } %>
    <td><%= listener.ip_address %></td>
    <td><%= listener.port %></td>
  </tr>
  <% } %>
</table>
<h3>Web contexts</h3>
<table class="list">
  <tr>
    <th>Context</th>
<% if (nodes_interesting) { %>
    <th>Host <small>(node)</small></th>
<% } %>
    <th>Bound to</th>
    <th>Port</th>
    <th>SSL</th>
    <th>Path</th>
  </tr>
  <%
    for (var i = 0; i < overview.contexts.length; i++) {
        var context = overview.contexts[i];
  %>
    <tr<%= alt_rows(i)%>>
      <td><%= context.description %></td>
<% if (nodes_interesting) { %>
      <td><%= fmt_node_host(context.node) %></td>
<% } %>
      <td><%= (context.ip != undefined) ? context.ip : "0.0.0.0" %></td>
      <td><%= context.port %></td>
      <td class="c"><%= fmt_boolean(context.ssl || false) %></td>
      <td><%= context.path %></td>
    </tr>
  <% } %>
</table>
</div>
</div>

<div class="section-hidden administrator-only">
<h2>Import / export definitions</h2>
<div class="hider">
  <form action="api/definitions" method="post" enctype="multipart/form-data">
    <table class="two-col-layout">
      <tr>
        <td>
          <h3>Export</h3>
          <p>
            <label for="download-filename">Filename for download:</label><br/>
            <input type="text" id="download-filename" value="<%= fmt_download_filename(overview.node) %>" class="wide" />
          </p>
        </td>
        <td>
          <h3>Import</h3>
          <p>
            <label>Definitions file:</label><br/>
            <input type="file" name="file"/>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <button id="download-definitions">Download broker definitions</button>
            <span class="help" id="export-definitions"></span>
          </p>
        </td>
        <td>
          <p>
            <input type="hidden" name="redirect" value="../#/import-succeeded"/>
            <input type="submit" value="Upload broker definitions"/>
            <span class="help" id="import-definitions"></span>
          </p>
        </td>
      </tr>
    </table>
  </form>
</div>
</div>

<% if (overview.statistics_level != 'fine') { %>
<div class="section-hidden">
<h2>Message Rates Disabled</h2>
<div class="hider">
<p>
  The statistics level in this RabbitMQ server is currently set to
  <code><%= overview.statistics_level %></code>. Message rates are therefore
  disabled.
</p>
<p>
  To re-enable message rates, edit your configuration file and either
  set <code>collect_statistics</code> to <code>fine</code> in
  the <code>rabbit</code> application, or
  set <code>force_fine_statistics</code> to <code>true</code> in
  the <code>rabbitmq_management_agent</code> application
</p>
</div>
</div>
<% } %>

<% } %>
