<h1>Overview</h1>

<div class="section">
<h2>Message Rates</h2>
<div>
<%= message_rates(overview.message_stats) %>
<span class="br"></span>
</div>
</div>

<div class="section">
<h2>System Information</h2>
<div>
<table class="facts">
  <tr>
    <th>Erlang Nodename</th>
    <td><%= overview.node %></td>
  </tr>
  <tr>
    <th>Operating System PID</th>
    <td><%= overview.os_pid %></td></tr>
  <tr>
    <th>Bound To</th>
    <td><%= overview.bound_to %></td></tr>
  <tr>
    <th>File Descriptors</th>
    <td class="status">
      <div class="<%= fmt_color(overview.fd_used / overview.fd_total) %>">
        <%= overview.fd_used %> / <%= overview.fd_total %>
        <sub>(used/available)</sub>
      </div>
    </td>
  </tr>
  <tr>
    <th>Erlang Processes</th>
    <td class="status">
      <div class="<%= fmt_color(overview.proc_used / overview.proc_total) %>">
        <%= overview.proc_used %> / <%= overview.proc_total %>
        <sub>(used/available)</sub>
      </div>
    </td>
  </tr>
  <tr>
    <th>Memory</th>
    <td class="status">
      <div class="<%= fmt_color(overview.mem_used / overview.mem_total) %>">
        <%= fmt_bytes(overview.mem_used) %> / <%= fmt_bytes(overview.mem_total) %>
        <sub>(used/available)</sub>
      </div>
    </td>
  </tr>
</table>
</div>
</div>
