<% if (permissions.length > 0) { %>
<div class="section">
  <h2>Permissions</h2>
  <div class="hider">
    <table class="list">
      <thead>
        <tr>
<% if (mode == 'vhost') { %>
          <th>User</th>
<% } else { %>
          <th>Virtual Host</th>
<% } %>
          <th>Configure Regexp</th>
          <th>Write Regexp</th>
          <th>Read Regexp</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
<%
for (var i = 0; i < permissions.length; i++) {
    var permission = permissions[i];
%>
           <tr<%= alt_rows(i)%>>
<% if (mode == 'vhost') { %>
             <td><%= link_to(permission.user, '#/users/' + esc(permission.user)) %></td>
<% } else { %>
             <td><%= link_to(permission.vhost, '#/vhosts/' + esc(permission.vhost)) %></td>
<% } %>
             <td><%= permission.configure %></td>
             <td><%= permission.write %></td>
             <td><%= permission.read %></td>
             <td class="c">
               <form action="#/permissions" method="delete" class="confirm">
                 <input type="hidden" name="username" value="<%= permission.user %>"/>
                 <input type="hidden" name="vhost" value="<%= permission.vhost %>"/>
                 <input type="submit" value="Clear"/>
               </form>
             </td>
           </tr>
           <% } %>
      </tbody>
    </table>
  </div>
</div>
<% } %>

<div class="section-hidden">
  <h2>Set Permission</h2>
  <div class="hider">
    <form action="#/permissions" method="put">
      <table class="form">
        <tr>
<% if (mode == 'vhost') { %>
          <th>User</th>
          <td>
            <input type="hidden" name="vhost" value="<%= parent.name %>"/>
            <select name="username">
              <% for (var i = 0; i < users.length; i++) { %>
              <option value="<%= users[i].name %>"><%= users[i].name %></option>
              <% } %>
            </select>
          </td>
<% } else { %>
          <th><label>Virtual Host:</label></th>
          <td>
            <input type="hidden" name="username" value="<%= parent.name %>"/>
            <select name="vhost">
              <% for (var i = 0; i < vhosts.length; i++) { %>
              <option value="<%= vhosts[i].name %>"><%= vhosts[i].name %></option>
              <% } %>
            </select>
          </td>
<% } %>
        </tr>
        <tr>
          <th><label>Configure Regexp:</label></th>
          <td><input type="text" name="configure" value=".*"/></td>
        </tr>
        <tr>
          <th><label>Write Regexp:</label></th>
          <td><input type="text" name="write" value=".*"/></td>
        </tr>
        <tr>
          <th><label>Read Regexp:</label></th>
          <td><input type="text" name="read" value=".*"/></td>
        </tr>
      </table>
      <input type="submit" value="Set Permission"/>
    </form>
  </div>
</div>
