<h1>Queue <b><%= queue.name %></b></h1>

<div class="section">
  <h2>Overview</h2>
  <div class="updatable">
    <table class="facts">
      <tr>
        <th>Virtual host</th>
        <td><%= queue.vhost %></td>
      </tr>
      <tr>
        <th>Durable</th>
        <td><%= fmt_boolean(queue.durable) %></td>
      </tr>
      <tr>
        <th>Auto delete</th>
        <td><%= fmt_boolean(queue.auto_delete) %></td>
      </tr>
      <tr>
        <th>Exclusive owner</th>
        <td>
          <% if (queue.owner_pid != 'none') { %>
          <%= link_conn(queue.owner_pid_details.name) %>
          <% } %>
        </td>
      </tr>
      <tr>
        <th>Consumers</th>
        <td><%= fmt_string(queue.consumers) %></td>
      </tr>
      <tr>
        <th>Memory</th>
        <td><%= fmt_bytes(queue.memory) %></td>
      </tr>
      <tr>
        <th>Messages</th>
        <td>
          <%= fmt_string(queue.messages_ready) %> ready<br/>
          <%= fmt_string(queue.messages_unacknowledged) %> unacknowledged<br/>
          <%= fmt_string(queue.messages) %> total
        </td>
      </tr>
      <tr>
        <th>Arguments</th>
        <td><%= fmt_table_short(queue.arguments) %></td>
      </tr>
<% if (nodes_interesting) { %>
      <tr>
        <th>Node</th>
        <td><%= queue.node %></td>
      </tr>
<% } %>
    </table>
  </div>
</div>

<div class="section">
  <h2>Bindings</h2>
  <div class="updatable">
    <h3>Incoming to <b><%= queue.name %></b></h3>
    <table class="bindings">
      <tr>
        <td>
          <%= format('bindings', {'mode': 'queue', 'bindings': bindings}) %>
        </td>
        <td class="binding-endpoint">
          <span class="arrow">&rarr;</span>
          <span class="object"><%= queue.name %></span>
        </td>
      </tr>
    </table>
  </div>
</div>

<%= format('add-binding', {'mode': 'queue', 'parent': queue}) %>

<div class="section-hidden">
  <h2>Purge This Queue</h2>
  <div class="hider">
    <form action="#/queues" method="delete">
      <input type="hidden" name="vhost" value="<%= queue.vhost %>"/>
      <input type="hidden" name="name" value="<%= queue.name %>"/>
      <input type="hidden" name="mode" value="purge"/>
      <input type="submit" value="Purge" />
    </form>
  </div>
</div>

<div class="section-hidden">
  <h2>Delete This Queue</h2>
  <div class="hider">
    <form action="#/queues" method="delete" class="confirm">
      <input type="hidden" name="vhost" value="<%= queue.vhost %>"/>
      <input type="hidden" name="name" value="<%= queue.name %>"/>
      <input type="hidden" name="mode" value="delete"/>
      <input type="submit" value="Delete" />
    </form>
  </div>
</div>
