<h1>Queues</h1>

<% if (queues.length > 0) { %>
<table class="list">
 <thead>
  <tr class="titre">
    <th colspan="4">Overview</th>
    <th colspan="3">Messages</th>
    <th colspan="4">Parameters</th>
  </tr>
  <tr class="titre">
   <th>Vhost</th><th>Name</th><th>Consumers</th>
   <th>Memory</th>
   <th>Ready</th><th>Unacked</th><th>Total</th>
   <th>Durable</th><th>Auto delete</th><th>Exclusive</th><th>Arguments</th>
  </tr>
 </thead>
 <tbody>
  <% for (var i = 0; i < queues.length; i++) { %>
  <tr<%= alt_rows(i)%>>
   <td><%= queues[i].vhost %></td>
   <td><%= queues[i].name %></td>
   <td class="r"><%= queues[i].consumers %></td>
   <td class="r"><%= fmt_bytes(queues[i].memory) %></td>
   <td class="r"><%= queues[i].messages_ready %></td>
   <td class="r"><%= queues[i].messages_unacknowledged %></td>
   <td class="r"><%= queues[i].messages %></td>
   <td class="c"><%= fmt_boolean(queues[i].durable) %></td>
   <td class="c"><%= fmt_boolean(queues[i].auto_delete) %></td>
   <td class="c"><%= fmt_boolean(queues[i].exclusive_owner.length > 0) %></td>
   <td>
     <% for (var j = 0; j < queues[i].arguments.length; j++) { %>
       <%= queues[i].arguments[j] %>
     <% } %>
   </td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no queues ...</p>
<% } %>
