<h1>Queues</h1>
<div class="section">
  <h2>All queues</h2>
  <div class="updatable">
<%= maybe_truncate(queues) %>
<% if (queues.length > 0) { %>
<table class="list">
 <thead>
  <tr>
    <th colspan="2">Overview</th>
    <th colspan="3">Messages</th>
    <th colspan="4">Parameters</th>
  </tr>
  <tr>
    <th><%= fmt_sort('Virtual host', 'vhost') %></th>
    <th><%= fmt_sort('Name',         'name') %></th>
    <th><%= fmt_sort('Ready',        'messages_ready') %></th>
    <th><%= fmt_sort('Unacked',      'messages_unacknowledged') %></th>
    <th><%= fmt_sort('Total',        'messages') %></th>
    <th><%= fmt_sort('Durable',      'durable') %></th>
    <th><%= fmt_sort('Auto delete',  'auto_delete') %></th>
    <th><%= fmt_sort('Exclusive',    'owner_pid') %></th>
    <th>Arguments</th>
  </tr>
 </thead>
 <tbody>
<%
  for (var i = 0; i < queues.length; i++) {
    var queue = queues[i];
%>
  <tr<%= alt_rows(i) %>>
   <td><%= link_vhost(queue.vhost) %></td>
   <td><%= link_queue(queue.vhost, queue.name) %></td>
   <td class="r"><%= fmt_string(queue.messages_ready) %></td>
   <td class="r"><%= fmt_string(queue.messages_unacknowledged) %></td>
   <td class="r"><%= fmt_string(queue.messages) %></td>
   <td class="c"><%= fmt_boolean(queue.durable) %></td>
   <td class="c"><%= fmt_boolean(queue.auto_delete) %></td>
   <td class="c">
     <% if (queue.owner_pid != 'none') { %>
     <%= link_conn(queue.owner_pid_details.name) %>
     <% } %>
   </td>
   <td>
     <% for (var j = 0; j < queue.arguments.length; j++) { %>
       <%= queue.arguments[j] %>
     <% } %>
   </td>
  </tr>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no queues ...</p>
<% } %>
  </div>
</div>

<div class="section-hidden">
  <h2>Add a new queue</h2>
  <div>
    <form action="#/queues" method="put">
      <table class="form">
        <tr>
          <th><label>Virtual host:</label></th>
          <td>
            <select name="vhost">
              <% for (var i = 0; i < vhosts.length; i++) { %>
              <option value="<%= vhosts[i].name %>"><%= vhosts[i].name %></option>
              <% } %>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Name:</label></th>
          <td><input type="text" name="name"/></td>
        </tr>
        <tr>
          <th><label>Durability:</label></th>
          <td>
            <select name="durable">
              <option value="true">Durable</option>
              <option value="false">Transient</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Auto delete:</label></th>
          <td>
            <select name="auto_delete">
              <option value="false">No</option>
              <option value="true">Yes</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label>Arguments:</label></th>
          <td><input type="hidden" value="" name="arguments" />(TODO)</td>
        </tr>
      </table>
      <input type="submit" value="Add queue"/>
    </form>
  </div>
</div>
