<%
   var id = span.attr('for');
   var mode = get_pref('rate-mode-' + id);
   var size = get_pref('chart-size-' + id);
   var range = get_pref('chart-range');
%>

<form action="#/rate-options" method="put" class="auto-submit">
  <input type="hidden" name="id" value="<%= id %>"/>
  <table class="form" width="100%">
    <tr>
      <td colspan="2">
        <h3>This chart</h3>
      </td>
    </tr>
    <tr>
      <th><label>Display:</label></th>
      <td>
        <%= fmt_radio('mode', 'Charts', 'chart', mode) %>
        <%= fmt_radio('mode', 'Rates (instantaneous)', 'inst', mode) %>
        <%= fmt_radio('mode', 'Rates (moving average)', 'avg', mode) %>
      </td>
    </tr>
    <tr>
      <th><label>Chart size:</label></th>
      <td>
        <%= fmt_radio('size', 'Small', 'small', size) %>
        <%= fmt_radio('size', 'Medium', 'Medium', size) %>
        <%= fmt_radio('size', 'Large', 'large', size) %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>All charts</h3>
      </td>
    </tr>
    <tr>
      <th><label>Chart range:</label></th>
      <td>
        <%= fmt_radio('range', 'Last minute',           '60|5', range) %>
        <%= fmt_radio('range', 'Last twenty minutes', '1200|60', range) %>
        <%= fmt_radio('range', 'Last hour',           '3600|60', range) %>
        <%= fmt_radio('range', 'Last six hours',     '21600|360', range) %>
        <%= fmt_radio('range', 'Last day',           '86400|1200', range) %>
      </td>
    </tr>
  </table>
</form>
