<h1>Users</h1>
<div class="section">
  <h2>All users</h2>
  <div class="hider">
<table class="list">
  <thead>
    <tr>
      <th><%= fmt_sort('Name', 'name') %></th>
      <th><%= fmt_sort('Tags', 'tags') %></th>
      <th>Can access virtual hosts</th>
    </tr>
  </thead>
  <tbody>
    <%
       for (var i = 0; i < users.length; i++) {
         var user = users[i];
    %>
       <tr<%= alt_rows(i)%>>
         <td><%= link_user(user.name) %></td>
         <td class="c"><%= user.tags %></td>
         <td class="c"><%= fmt_permissions(user, permissions, 'user', 'vhost',
                           '<p class="warning">No access</p>') %></td>
       </tr>
    <% } %>
  </tbody>
</table>
    <p><span class="help" id="internal-users-only"></span></p>
  </div>
</div>

<div class="section-hidden">
  <h2>Add / update a user</h2>
  <div class="hider">
    <form action="#/users" method="put">
      <table class="form">
        <tr>
          <th><label>Username:</label></th>
          <td>
            <input type="text" name="username"/>
            <span class="mand">*</span>
          </td>
        </tr>
        <tr>
          <th>
            <label>
              <select name="has-password" id="has-password" class="narrow">
                <option value="true">Password:</option>
                <option value="false">No password</option>
              </select>
            </label>
          </th>
          <td>
            <div id="password">
              <input type="password" name="password" />
              <span class="mand">*</span><br/>
              <input type="password" name="password_confirm" />
              <span class="mand">*</span>
              (confirm)
            </div>
            <div id="no-password">
              User cannot log in using password.
            </div>
          </td>
        </tr>
        <tr>
          <th><label>Tags:</label></th>
          <td>
            <input type="text" name="tags" id="tags" />
            <span class="help" id="user-tags"/>
            <sub>
              [<a href="javascript:$('#tags').val('administrator');">Admin</a>]
              [<a href="javascript:$('#tags').val('monitoring');">Monitoring</a>]
              [<a href="javascript:$('#tags').val('management');">Management</a>]
              [<a href="javascript:$('#tags').val('');">None</a>]
            </sub>
          </td>
        </tr>
      </table>
      <input type="submit" value="Add user"/>
    </form>
  </div>
</div>
