<h1>User: <b><%= user.name %></b></h1>

<% if (permissions.length == 0) { %>
<p class="warning">
  This user does not have permission to access any virtual hosts.<br/>
  Use "Set Permission" below to grant permission to access virtual hosts.
</p>
<% } %>

<div class="section">
  <h2>Overview</h2>
  <div class="hider">
<table class="facts">
  <tr>
    <th>Tags</th>
    <td><%= user.tags %></td>
  </tr>
  <tr>
    <th>Can log in with password</th>
    <td><%= fmt_boolean(user.password_hash.length > 0) %></td>
  </tr>
</table>
<span class="br"></span>
  </div>
</div>

<%= format('permissions', {'mode': 'user', 'permissions': permissions, 'vhosts': vhosts, 'parent': user}) %>

<div class="section-hidden">
  <h2>Delete this user</h2>
  <div class="hider">
    <form action="#/users" method="delete" class="confirm">
      <input type="hidden" name="username" value="<%= user.name %>"/>
      <input type="submit" value="Delete"/>
    </form>
  </div>
</div>
