<h1>Federation Connection: <b><%= fmt_string(connection.key) %></b></h1>

<div class="section">
  <h2>Overview</h2>
  <div class="hider">
    <table class="facts">
      <tr>
        <th>URI</th>
        <td><%= connection.value.uri %></td>
      </tr>
      <tr>
        <th>Expires</th>
        <td><%= connection.value.expires %>ms</td>
      </tr>
      <tr>
        <th>Message TTL</th>
        <td><%= connection.value.message_ttl %>ms</td>
      </tr>
      <tr>
        <th>Max Hops</th>
        <td><%= connection.value.max_hops %></td>
      </tr>
      <tr>
        <th>Prefetch Count</th>
        <td><%= connection.value.prefetch_count %></td>
      </tr>
      <tr>
        <th>Reconnect Delay</th>
        <td><%= connection.value.reconnect_delay %>s</td>
      </tr>
      <tr>
        <th>HA Policy</th>
        <td><%= connection.value.ha_policy %></td>
      </tr>
    </table>
  </div>
</div>

<div class="section-hidden">
  <h2>Delete this connection</h2>
  <div class="hider">
    <form action="#/fed-parameters" method="delete" class="confirm">
      <input type="hidden" name="component" value="federation_connection"/>
      <input type="hidden" name="key" value="<%= fmt_string(connection.key) %>"/>
      <input type="submit" value="Delete this connection"/>
    </form>
  </div>
</div>
