<h1>Federation Status</h1>
<div class="section">
  <h2>Running Links</h2>
  <div class="hider updatable">
<% if (links.length > 0) { %>
<table class="list">
 <thead>
  <tr>
    <th>Connection</th>
    <th>URI</th>
<% if (vhosts_interesting) { %>
    <th>Virtual Host</th>
<% } %>
    <th>Exchange</th>
<% if (nodes_interesting) { %>
    <th>Node</th>
<% } %>
    <th>State</th>
    <th>Inbound message rate</th>
    <th>Last changed</th>
  </tr>
 </thead>
 <tbody>
<%
 for (var i = 0; i < links.length; i++) {
    var link = links[i];
%>
   <tr<%= alt_rows(i)%>>
    <td>
      <%= fmt_string(link.connection) %>
      <% if (link.exchange != link.upstream_exchange) { %>
      <sub><%= fmt_string(link.upstream_exchange) %></sub>
      <% } %>
    </td>
    <td><%= fmt_string(link.uri) %></td>
<% if (vhosts_interesting) { %>
    <td><%= fmt_string(link.vhost) %></td>
<% } %>
    <td><%= link_exchange(link.vhost, link.exchange) %></td>
<% if (nodes_interesting) { %>
    <td><%= fmt_node(link.node) %></td>
<% } %>
<% if (link.error) { %>
    <td>
       <div class="status-red"><acronym title="<%= fmt_escape_html_one_line(link.error) %>"><%= link.status %></acronym></div>
    </td>
    <td></td>
    <td><%= link.timestamp %></td>
  </tr>
<% } else { %>
    <td>
       <% if (link.status == 'starting') { %>
         <div class="status-yellow"><%= link.status %></div>
       <% } else { %>
         <div class="status-green"><%= link.status %></div>
      <% } %>
    </td>
    <td class="r">
      <% if (link.local_channel) { %>
        <%= fmt_rate(link.local_channel.message_stats, 'confirm') %>
      <% } %>
    </td>
    <td><%= link.timestamp %></td>
  </tr>
<% } %>
  <% } %>
 </tbody>
</table>
<% } else { %>
  <p>... no links ...</p>
<% } %>
</div>
</div>
<div class="section-hidden">
  <h2>Parameters</h2>
  <div class="hider">
    <table class="list">
      <thead>
        <tr>
<% if (vhosts_interesting) { %>
          <th>Virtual Host</th>
<% } %>
          <th>
            Local username
            <span class="help" id="federation-local-username"></span>
          </th>
          <th>
            Explicit identity for this cluster / node
            <span class="help" id="federation-explicit-identity"></span>
          </th>
        </tr>
      </thead>
      <tbody>
<%
       for (var i = 0; i < vhosts.length; i++) {
         var vhost = vhosts[i];
         if (current_vhost != '' && current_vhost != vhost.name) continue;

         var username = null;
         var nodename = null;

         for (var j in globals) {
           if (globals[j].vhost == vhost.name) {
             if (globals[j].name == 'local-username') username = globals[j].value;
             if (globals[j].name == 'local-nodename') nodename = globals[j].value;
           }
         }
%>
        <tr<%= alt_rows(i)%>>
<% if (vhosts_interesting) { %>
          <td><%= fmt_string(vhost.name) %></td>
<% } %>
          <td>
            <form action="#/fed-globals" method="put">
              <input type="hidden" name="component" value="federation"/>
              <input type="hidden" name="vhost" value="<%= fmt_string(vhost.name) %>"/>
              <input type="hidden" name="name" value="local-username"/>
              <input type="text" name="value" value="<%= username %>" />
              <input type="submit" value="Update"/>
            </form>
          </td>
          <td>
            <form action="#/fed-globals" method="put">
              <input type="hidden" name="component" value="federation"/>
              <input type="hidden" name="vhost" value="<%= fmt_string(vhost.name) %>"/>
              <input type="hidden" name="name" value="local-nodename"/>
              <input type="text" name="value" value="<%= nodename %>" />
              <input type="submit" value="Update"/>
            </form>
          </td>
        </tr>
<% } %>
      </tbody>
    </table>
  </div>
</div>
